<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Admin</title>-->
<!--</head>-->
<!--<body>-->

<!--    <div>-->
<!--        <form id="addShift" action="/admin/addshift" method="post" enctype="multipart/form-data">-->
<!--            <label><input type="text" name="employeeName" id="employeeName" placeholder="Employee Name" required></label>-->
<!--            <label><input type="date" id="WorkDate" name="WorkDate" required></label>-->
<!--            <label><input type="time" id="StartHour" name="StartHour"> </label>-->
<!--            <label><input type="time" id="EndHour" name="EndHour"> </label>-->
<!--            <button type="submit">Submit</button>-->
<!--        </form>-->
<!--    </div>-->
<!--</body>-->
<!--</html>-->